header {
    background: url('step project/Layer 1 5.png') no-repeat center top fixed;
    background-size: cover;
    height: 1012px;
}

/* .container {
    max-width: 1160px;
    margin: 0 auto;
} */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5E5D5899;
    height: 114px;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    width: 58px;
    height: 68px;
    position: relative;
}

.emblem {
    position: absolute;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-left: 19px;
}

.navbar-left p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    color: white;
}

.navbar-left span {
    color: #18CFAB;
}

.navbar-right {
    display: flex;
}

.navbar-left>* {
    padding: 6px;
}

.navbar-right>* {
    margin-left: 10px;
    margin-right: 10px;
    /* padding: 20px; */
    padding-top: 48px;
    padding-bottom: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.navbar-right div {
    border: 1px solid #11ffee00;
}

.navbar-right div:hover {
    border-bottom: 2px solid #18CFAB;
}

.theme,
.company-description,
.slogan {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 34px;
    margin-bottom: 22px;
}

.theme {
    margin-top: 264px;
}

.theme span {
    color: #18CFAB;
}

.slogan {
    color: #D4D4D4;
    text-transform: none;
}

.company-description {
    font-size: 78px;
}

.buttons {
    text-align: center;
    margin-top: 134px;
}

.purchase-btn,
.explore-btn {
    text-decoration: none;
    color: white;
    border-radius: 6px 6px 6px 6px;
    padding: 16px 18px;
    -webkit-box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
}

.explore-btn {
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
    margin-right: 26px;
}

.purchase-btn {
    border: 1px solid #00CBF6;
    background-color: #00CBF6;
}

.features {
    margin-top: 1px;
    margin-bottom: 82px;
}

.description-of-features {
    display: flex;
    justify-content: center;
}

.description-of-features li {
    width: 482px;
    height: 377px;
    position: relative;
}

.description-of-features li>img {
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.description-of-features li>p {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.finger-touch,
.bulb {
    border: 1px solid #1C2A33;
    background-color: #1C2A33;
}

.diamond,
.gadgets {
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
}

.finger-touch p,
.bulb p {
    color: #18CFAB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.diamond p,
.gadgets p {
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}
.services {
    max-width: 1160px;
    margin: 0 auto;
}
.job-categories {
    max-width: 1160px;
    margin: 0 auto;
}
.services h1,
.job-categories h1,
.news h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 20px;
}

.underline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.tabs {
    display: flex;
    margin-bottom: 28px;
}

.tabs-title {
    padding: 30px 58px;
    text-align: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}

.active {
    background-color: #18CFAB;
    color: white;
}

.tabs-content>* {
    display: flex;
}

.tabs-content img {
    width: 190px;
    height: 140px;
}

.tabs-content p {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-left: 15px;
    color: #777777;
}

.advertising {
    margin: 0 auto;
    height: 476px;
    background-image: url('step project/Layer 21 1.png');
    background-size: cover;
}

.advertising h1 {
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    padding-top: 126px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.advertising p {
    color: #D8D8D8;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.advertising {
    text-align: center;
    margin-bottom: 96px;
}

.buy-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 6px 6px 6px 6px;
    padding: 16px 18px;
    -webkit-box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
}

.selection-of-work-categories {
    display: flex;
    justify-content: center;
}

.selection-of-work-categories>* {
    border: 1px solid #EDEFEF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 12px;
    color: #717171;
}

.active-item {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.job-pictures>* {
    width: 284px;
    height: 210px;
}

#grid,
#grid-news {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: center;
    margin-top: 70px;
}

#grid>* {
    border: 3px solid white;
}

#grid li:hover {
    border-top: 3px solid #18CFAB;
}

.box-elements>* {
    text-align: center;
}

.box-elements div {
    margin-top: 40px;
    margin-bottom: 48px;
}

.box-elements h3 {
    color: #18CFAB;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
}

.box-elements p {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    color: #8A8A8A;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 64px;
    background-color: #18CFAB;
    margin: 0 auto;
    border: 1px solid #18CFAB;
}

.btn p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: white;
    margin-left: 15px;
}

.apear {
    display: none;
}

.add {
    height: 70px;
}

.news {
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 100px;
}

#grid-news {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(208px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    align-items: center;
    margin-top: 70px;
    gap: 30px;
}

#grid-news img {
    width: 264px;
}

.inImg {
    position: relative;
}

.section-data {
    position: absolute;
    background-color: #203E38;
    width: 70px;
    height: 68px;
    top: 0px;
    left: 194px;
}

.post {
    margin-top: 15px;
    margin-bottom: 6px;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17.9885px;
    color: #717171;
}

#grid-news p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    margin-left: 30px;
    color: #777777;
}

.day,
.month {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.day {
    margin: 12px auto 8px;
}

.hover-text {
    color: #18CFAB;
}

.hover-block {
    background-color: #18CFAB;
}

.description-theHam {
    margin: 0 auto;
    background-image: url('step project/Layer 333.png');
    height: 854px;
    margin-top: 126px;
}

.description-theHam h1 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 20px;
    padding-top: 98px;
    color: white;
}

.coma {
    text-align: center;
}

.slider-block {
    margin-top: 36px;
}

.visible {
    display: block;
}

.unvisible {
    display: none;
}

.element-slider {
    text-align: center;
}

.person-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #bbb;
    margin-bottom: 38px;
    height: 36px;
}

.person-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 18px;
}

.peron-job {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 180;
    font-size: 12px;
    color: #bbb;
    margin-bottom: 38px;
}

.person-photo img {
    width: 142px;
    height: 142px;
}

#frame {
    width: 490px;
    margin: 72px auto;
}

#carousel {
    position: relative;
}

.carousel-img {
    margin-left: 16px;
    margin-right: 16px;
}

#left-button,
#right-button {
    background: rgba(0, 0, 0, 0.0001);
    width: 32px;
    height: 32px;
    border: 1px solid #bbb;
    position: absolute;
    color: #bbb;
}

#left-button {
    top: 20px;
    left: 0px;
}

#left-button:hover {
    color: white;
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

#right-button {
    top: 20px;
    right: 0px;
}

#right-button:hover {
    color: white;
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.img-1 {
    position: absolute;
    top: 8px;
    left: 50px;
}

.img-2 {
    position: absolute;
    top: 8px;
    left: 148px
}

.img-3 {
    position: absolute;
    top: 8px;
    right: 148px;
}

.img-4 {
    position: absolute;
    top: 8px;
    right: 50px;
}

#carousel .active-img {
    position: absolute;
    top: -8px;
}

footer {
    height: 122px;
    margin-top: 68px;
    background-color: #1C2A33;
}

footer p {
    text-align: center;
    padding-top: 60px;
    color: #aeaeae;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

footer span {
    color: #18CFAB;
}